:root {
  --color-bg-dark: #060709;
  --color-bg-light: #111214;
  --color-text-light: #ddd;
  --color-text-muted: #bbb;
  --color-text-white: #fff;

  --radius: 1rem;
  --gap: 2rem;
  --shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);

  --font-logo: 'Bebas Neue', sans-serif;
}

/* ============= MAIN LAYOUT  ============= */
.news-app {
  width: min(100%, 100rem);
  height: 90dvh;
  background-color: var(--color-bg-dark);
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: var(--gap);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
}

/* cqi width support */
@supports (width: 1cqi) {
  .news-app {
    width: clamp(35rem, 90cqi, 100rem);
  }
}

.news-header,
footer {
  width: 100%;
  background-color: var(--color-bg-light);
  padding: 0 var(--gap);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
}

.news-header {
  min-height: 7rem;
  border-radius: var(--radius) var(--radius) 0 0;
}

footer {
  min-height: 5rem;
  justify-content: space-between;
  border-radius: 0 0 var(--radius) var(--radius);
}

/* ============= TYPOGRAPHY ============= */
.logo,
.nav-heading,
.headline-title,
.news-grid-item h3,
.copyright span {
  font-family: var(--font-logo);
  letter-spacing: 0.1rem;
  color: var(--color-text-white);
}

.logo {
  font-size: clamp(2.5rem, 4vw, 5rem);
  color: var(--color-text-light);
  letter-spacing: 0.2rem;
}

.nav-heading {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--color-text-light);
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--color-text-light);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

footer .copyright {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer small {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--color-text-muted);
}

.copyright span {
  font-size: 2rem;
  color: var(--color-text-muted);
}

/* ============= CONTENT ============= */
.news-content {
  flex: 1;
  display: flex;
  column-gap: var(--gap);
  padding: 0 var(--gap);
  height: calc(100% - 16rem);
}

.navbar {
  width: 20%;
  height: 100%;
  background-color: var(--color-bg-light);
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  border-radius: var(--radius);
  padding: var(--gap);
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.news-section {
  width: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

/* ============= HEADLINE ============= */
.headline {
  width: 100%;
  height: calc(45% - 2rem);
  position: relative;
  overflow: hidden;
  border-radius: var(--radius);
}

.headline img,
.news-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius);
  opacity: 0.5;
}

.headline-title {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1rem 4rem 1rem 1rem;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 var(--radius) var(--radius);
}

/* ============= NEWS GRID ============= */
.news-grid {
  flex: 1;
  background-color: var(--color-bg-light);
  border-radius: var(--radius);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  padding: 1.2rem;
  justify-items: center;
  align-items: center;
}

.news-grid-item {
  width: 100%;
  height: 100%;
  min-height: 15rem;
  position: relative;
  border-radius: var(--radius);
  overflow: hidden;
}

.news-grid-item h3 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4rem;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 var(--radius) var(--radius);
}

/* ============= MEDIA QUERIES ============= */
@media (max-width: 1400px) {
  .logo {
    font-size: 3.5rem;
  }

  .categories {
    gap: 2rem;
  }

  .news-section {
    overflow: hidden;
  }


  .news-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow-y: auto;
  }

  .news-grid::-webkit-scrollbar { 
    display: none; 
  }
}

@media (max-width: 900px) {
  .news-content {
    flex-direction: column;
    width: 100%;
    row-gap: 2rem;
  }

  .navbar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 15rem;
    row-gap: 0;
  }

  .categories {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 1rem; */
  }

  .nav-link {
    margin-right: 2rem;
  }

  .news-section {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .navbar {
    height: 20rem;
  }

  .news-grid { 
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr); 
  }

  .headline-title { 
    font-size: 2rem; 
  }

  footer {
    min-height: 8rem;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}
